@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');

html {
    min-height:100%;
}

body {
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    margin: 0;
    padding: 0;
    height:100%;
}

header {
    background-color: rgba(126, 126, 126, 0.3);
    color: #fff;
    padding: 17px;
    border-bottom: 3px solid rgba(114, 114, 114, 0.3);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    font-size: 130%;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
}

section {
    padding: 50px;
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
}

h1 {
    text-decoration-line: underline;
}

p {
    margin-bottom: 10px;
}

h1, h2, p {
    color: rgb(223, 223, 223);
    font-family: 'Signika', sans-serif;
}

footer {
    margin: 1.8%;
}

footer p a {
    text-decoration: none;
    color: rgb(223, 223, 223);
}

#Kontakty {
    text-decoration-line: none;
}

div.gallery {
    margin: 5px;
    border: 3px solid rgb(44, 44, 44);
    float: left;
    width: 24%;
  }
  
  div.gallery:hover {
    border: 3px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }